<h3>スケジュール詳細</h3>

<table>
  <tr>
    <th>タイトル</th>
    <td><%= @schedule.title %></td>
  </tr>
  <tr>
    <th>投稿日時</th>
    <td><%= @schedule.created_at.to_s(:datetime_jp) %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @schedule.start_date.strftime("%Y年%m月%d日") %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @schedule.end_date.strftime("%Y年%m月%d日") %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td>
      <% if @schedule.all_day %>
        ○
      <% end %>
    </td>
  </tr>
  <tr>
    <th>スケジュールメモ</th>
    <td><%= @schedule.memo %></td>
  </tr>
</table>

<div>
  <ul>
    <li><%= link_to("スケジュール一覧に戻る", schedules_path) %></li>
    <li><%= link_to "スケジュールを編集する", edit_schedule_path(@schedule) %></li>
    <li><%= link_to "スケジュールを削除する", schedule_path(@schedule), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %></li>
  </ul>
</div>

<footer>
  <h1>今日の日付：<%= Date.today.strftime("%Y年%m月%d日") %></h1>
</footer>